<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <canvas id="canvas" width="320" height="320"></canvas>
    <script>
        let canvas = document.getElementById('canvas');
        let ctx = canvas.getContext('2d');
        
        ctx.save();
        ctx.fillStyle = '#800000';
        ctx.fillRect( 0, 0, canvas.width, canvas.height );

        ctx.translate( 160, 160 );

        ctx.restore();
        ctx.clearRect( 0, 0, canvas.width, canvas.height );


        ctx.save();
        ctx.translate( 160, 160 );
        ctx.beginPath();
        
        ctx.arc( 0, 0, 100, 0, Math.PI * 2, true ); // 绘制
        ctx.moveTo( 70, 0 );
        ctx.arc( 0, 0, 70, 0, Math.PI, false ); // 口 (顺时针)
        ctx.moveTo( -30, -30 );
        ctx.arc( -40, -30, 10, 0, Math.PI * 2, true ); // 左眼
        ctx.moveTo( 50, -30 );
        ctx.arc( 40, -30, 10, 0, Math.PI * 2, true ); // 右眼
        ctx.stroke();

        ctx.restore();

    </script>
</body>
</html>